#root {
  margin: 100px;
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
}
.modal {
  background-color: #999;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
}
svg {
  width: 30px;
  height: 30px;
}